/* /Pages/Index.razor.rz.scp.css */
/* /Shared/ImageCarousel.razor.rz.scp.css */
img[b-j1qv55if3x] {
    width: 100%; 
    aspect-ratio: 16/9
}
/* /Shared/ParticlesContainer.razor.rz.scp.css */
.particle-container[b-oqelp5uh9p] {
    position: relative;

    height: calc(100vh - var(--mud-appbar-height));
    max-height: calc(100vh - var(--mud-appbar-height));
    overflow-y: clip;
}

/* /Shared/TwoThirdsComponent.razor.rz.scp.css */
.narrow-content-wrapper[b-qqyqtvwd07] {
    min-height: 100%;
}

.narrow-content-wrapper > div[b-qqyqtvwd07] {
    min-height: 100%;
}
/* /Shared/YouTubeCard.razor.rz.scp.css */
img[b-xsb005rp7s] {
    width: 100%; 
    aspect-ratio: 16/9
}
