@page "/"

@inject IJSRuntime _js

<ParticlesContainer FileName="landing">
    <MudHidden Breakpoint="Breakpoint.SmAndDown">
        <div class="d-flex justify-end align-center">
            <MudCard Class="pa-4" Style="width: 50%" Elevation="4">
                <MudText Typo="Typo.h2" Color="Color.Default" Style="color: #fff">
                    👋 My name is
                </MudText>
                <MudText Typo="Typo.h1" Color="Color.Info">
                    Luke Parker
                </MudText>
            </MudCard>
        </div>
    </MudHidden>
    <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert>
        <div class="d-flex justify-center align-center">
            <MudCard Class="pa-4" Elevation="4">
                <MudText Typo="Typo.h2" Color="Color.Info" Style="color: #fff">
                    👋 My name is
                </MudText>
                <MudText Typo="Typo.h1" Color="Color.Info">
                    Luke Parker
                </MudText>
            </MudCard>
        </div>
    </MudHidden>
    <div class="d-flex justify-center align-end">
        <MudPaper Class="pa-4 d-flex justify-center align-center" Elevation="4">
            <MudIcon Icon="@Icons.Filled.ArrowDownward"/>
            <MudText Class="pl-4 mb-4">
                Scroll for more...
            </MudText>
        </MudPaper>
    </div>
</ParticlesContainer>

<MudDivider Class="ma-4"/>

<div style="width: 100%" class="pl-6 pr-6 mt-6 mb-6">
    <TempusHubCard />
    <UpBlazorCard />
    <UserGroupCard />
</div>