@page "/"

@inject IJSRuntime _js

<div class="landing-container particle-container">
    <div id="@LandingFirst"/>
    <MudHidden Breakpoint="Breakpoint.SmAndDown">
        <div class="d-flex justify-end align-center">
            <MudCard Class="pa-4" Style="width: 50%" Elevation="0">
                <MudText Typo="Typo.h2">
                    👋 My name is
                </MudText>
                <MudText Typo="Typo.h1" Color="Color.Info">
                    Luke Parker
                </MudText>
            </MudCard>
        </div>
    </MudHidden>
    <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert>
        <div class="d-flex justify-center align-center">
            <MudCard Class="pa-4" Elevation="0">
                <MudText Typo="Typo.h2">
                    👋 My name is
                </MudText>
                <MudText Typo="Typo.h1" Color="Color.Info">
                    Luke Parker
                </MudText>
            </MudCard>
        </div>
    </MudHidden>
    <div class="d-flex justify-center align-end">
        <MudPaper Class="pa-4 d-flex justify-center align-center" Elevation="0">
            <MudIcon Icon="@Icons.Filled.ArrowDownward"/>
            <MudText Class="pl-4">
                Scroll for more...
            </MudText>
        </MudPaper>
    </div>
</div>

<MudDivider Class="ma-4"/>

<div style="height: 100vh; width: 100%" class="pl-6 pr-6 mt-6">
    <MudCard Elevation="0">
        <TwoThirdsComponent>
            <WideContent>
                <ImageCarousel ImageSrcs="_tempusHubImages"/>
            </WideContent>
            <NarrowContent>
                <MudText Typo="Typo.h4">Tempus Hub</MudText>
                <MudText Typo="Typo.caption">
                    Leroasd asdf ahgds dgasid asdf asdf a.
                    asdfasdf sdf.sadf asdf asdf asjdkfh asjfuen asdk fasdkf ansfdn fkasdfnk ajsndfkj ansdjjd nnjj jndf asd asdf kd saokfd d. sfasdf asdf.
                </MudText>
            </NarrowContent>
        </TwoThirdsComponent>
    </MudCard>

    <MudCard Class="mt-8">
        <TwoThirdsComponent Inverted>
            <WideContent>
                <ImageCarousel ImageSrcs="_tempusHubImages"/>
            </WideContent>
            <NarrowContent>
                <MudText Typo="Typo.h4">Tempus Hub</MudText>
                <MudText Typo="Typo.caption">
                    Leroasd asdf ahgds dgasid asdf asdf a.
                    asdfasdf sdf.sadf asdf asdf asjdkfh asjfuen asdk fasdkf ansfdn fkasdfnk ajsndfkj ansdjjd nnjj jndf asd asdf kd saokfd d. sfasdf asdf.
                </MudText>
            </NarrowContent>
        </TwoThirdsComponent>
    </MudCard>
</div>

@code
{
    private const string LandingFirst = "landing-first";

    private List<string> _tempusHubImages = new()
    {
        "/img/tempushub-1.png",
        "/img/tempushub-2.png"
    };

    protected override async Task OnInitializedAsync()
    {
        await _js.InvokeVoidAsync("loadTsParticles", LandingFirst, "tsparticles/landing.json");
    }
}
