@import "https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&family=Open+Sans:ital,wght@0,400;1,400&display=swap";
h1 {
  color: var(--mud-palette-text-primary);
}
h2 {
  color: var(--mud-palette-text-secondary);
}
h3 {
  color: var(--mud-palette-tertiary);
}
h4 {
  color: var(--mud-palette-tertiary);
}
h5 {
  color: var(--mud-palette-tertiary);
}
h6 {
  color: var(--mud-palette-tertiary);
}
p {
  color: var(--mud-palette-primary-text);
}
.super-large {
  font-size: 3.5rem;
}
.super-large.mud-icon-button-size-large.mud-button {
  >.mud-icon-button-label {
    >.mud-icon-size-large {
      font-size: 3.5rem;
    }
  }
}
.hello-wrapper {
  justify-content: flex-end;
  .mud-card {
    width: 50%;
  }
}
#blazor-error-ui {
  background-color: rgb(236,39,85); // primary darken
  color: white;
  
  a {
    color: white;
  }
}
@media (max-width: 768px) {
  .hello-wrapper {
    justify-content: center;
    .mud-card {
      width: 90%;
    }
  }
  
  :root {
    --mud-typography-h1-size: calc(6rem * 0.67) !important;
    --mud-typography-h2-size: calc(3.75rem * 0.70) !important;
    --mud-typography-h3-size: calc(3rem * 0.73) !important;
    --mud-typography-h4-size: calc(2.125rem * 0.76) !important;
    --mud-typography-h5-size: calc(1.5rem * 0.79) !important;
    --mud-typography-h6-size: calc(1.25rem * 0.82) !important;
  }
}