<MudGrid Justify="Justify.Center">
    @if (!Inverted)
    {
        @WideContainer
    }
    else
    {
        @NarrowContainer
    }
    <MudItem xs="12" sm="12" md="1">
        <MudHidden Breakpoint="Breakpoint.SmAndDown">
            <div style="width: 100%; height: 100%" class="d-flex justify-center align-center">
                <MudDivider Vertical DividerType="DividerType.Middle"/>
            </div>
        </MudHidden>
        <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert>
            <MudDivider DividerType="DividerType.Middle"/>
        </MudHidden>
    </MudItem>
    @if (!Inverted)
    {
        @NarrowContainer
    }
    else
    {
        @WideContainer
    }
</MudGrid>

@code
{
    [Parameter]
    public RenderFragment? WideContent { get; set; }

    [Parameter]
    public RenderFragment? NarrowContent { get; set; }

    [Parameter]
    public bool Inverted { get; set; }

    private RenderFragment NarrowContentWrapper =>
        @<div>
            <MudHidden Breakpoint="Breakpoint.SmAndDown">
                <div class="pa-4">
                    @NarrowContent
                </div>
            </MudHidden>
            <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert>
                <div class="pl-4 pr-4">
                    @NarrowContent
                </div>
            </MudHidden>
        </div>;

    private RenderFragment NarrowContainer =>
        @<MudItem xs="12" sm="12" md="4">
            @NarrowContentWrapper
        </MudItem>;

    private RenderFragment WideContainer =>
        @<MudItem xs="12" sm="12" md="7">
            @WideContent
        </MudItem>;
}
